<nav class="bg-gray-200 border-gray-200 dark:bg-gray-00">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a href="https://flowbite.com/" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="https://flowbite.com/docs/images/logo.svg" class="h-8" alt="Flowbite Logo" />
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Employee
                Management</span>
        </a>
        <div class=" items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
            <button class="bg-dark-500 text-white px-4 me-1 py-1 rounded hover:bg-dark-600" routerLink="/login"
           >Logout</button>
            <!-- Dropdown menu -->
            
           
        </div>
        <div class=" items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-user">
                <p>Welcome to dashboard</p>

        </div>
    </div>
</nav>